@using System.Globalization
@model System.Collections.Generic.List<BigSchool.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-6">My Courses</h2>
<div class="row">
    <ul class="list-group w-100 ">
        <li class="container text-start list-group-item list-group-item-light">
            <div class="row">
                <h5 class="col ms-3 me-3">Time</h5>
                <h5 class="col ms-3 me-3">
                    Category
                </h5>
                <h5 class="col ms-3 me-3">
                    Place
                </h5>
                <h5 class="col ms-3 me-3">
                    Lecturer
                </h5>
                <h5 class="col ms-3 me-3">
                    Action
                </h5>

            </div>
        </li>
        @foreach (var course in Model)
        {
            <li class="container text-start list-group-item">
                <div class="row">
                    <div class="col ms-3 me-3">
                        <span class="badge bg-secondary">
                            @course.DateTime.ToString(CultureInfo.CurrentCulture)
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <span class="badge bg-success">
                            @course.Category.Name
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <span class="badge bg-secondary">
                            @course.Place
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <span>
                            @course.Lecturer.Name
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <a href="@Url.Action("Edit", "Courses", new { id = course.Id })" class="btn btn-info btn-sm">
                            Edit
                        </a> 
                        <a href="#" class="js-cancel-course" data-course-id="@course.Id">
                            Cancel
                        </a> 
                    </div>
                </div>

            </li>
        }
    </ul>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault()
                var link = $(e.target)       
                bootbox.confirm("Ban chac chan muon huy khoa hoc?",
                function () {
                    $.ajax({
                        url: "/api/course/" + link.attr("data-course-id"),
                        method: "DELETE"
                    }) 
                    .done(function () {
                        link.parents("li").fadeOut(function () {
                            $(this).remove()
                        })
                    })
                    .fail(function () {
                        alert("Co gi do sai sai")
                    })
                })
            })
        })
    </script>
}
