@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<p class="display-6">Incoming Courses</p>
<div class="row">
    <ul class="list-group w-75">
        <li class="container text-start list-group-item list-group-item-light">
            <div class="row">
                <h5 class="col ms-3 me-3">Time</h5>
                <h5 class="col ms-3 me-3">
                    Category
                </h5>
                <h5 class="col ms-3 me-3">
                    Lecturer
                </h5>
                <h5 class="col ms-3 me-3">
                    Status
                </h5>
            </div>
        </li>
        @foreach (var course in Model)
        {
            <li class="container text-start list-group-item">
                <div class="row">
                    <div class="col ms-3 me-3">
                        <span class="badge bg-secondary">
                            @course.DateTime.ToString()
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <span class="badge bg-secondary">
                            @course.Category.Name
                        </span>
                    </div>
                    <div class="col ms-3 me-3">
                        <span>
                            @course.Lecturer.Name
                        </span>
                    </div>
                    <div class="col">
                        <button data-course-id="@course.Id" class="btn btn-dark btn-sm js-toggle-attendance">
                            Join
                        </button>
                        <button data-user-id="@course.LecturerId" class="btn btn-light btn-sm js-toggle-follow">
                            Follow Lecturer
                        </button>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>
@section scripts 
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button.removeClass("btn-dark").addClass("btn-success").text("Joined")
                    })
                    .fail(function () {
                        alert("Something went wrong!")
                    })
            })

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/Following", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following").removeClass("btn-light").addClass("btn-info")
                    })
                    .fail(function () {
                        alert("Something went wrong!")
                    })
            })
        })
    </script>
}
